<script>
    $(document).ready(function() {
        $("#NY_body").click(function (e) {
                if (e.target !== e.currentTarget) return;
                $(this).hide();
                $("#season-banner").animate({ right: -125, }, 250).animate({ right: -100, }, 250)
            })
        $(".send_order_NY").click(function () {
            $("#NY_body").click()
            $("#message").val("Запрос Интернет-магазин к сезону \"Новый год\": ").focus()
        })
    })
</script>

<div style="position: absolute; width: 100%; background: rgba(11, 197, 160, 0.9); margin: 0; padding: 0; z-index: 1001; display: none;" id="NY_body">
    <!-- START BACKGROUND TABLE -->
    <table cellspacing="0" cellpadding="0" style="margin: auto; padding: 0;">
        <tr>
            <td height="100">&nbsp;</td>
        </tr>
        <tr>
            <td>
                <!-- START TOP TABLE -->
                <table width="600" border="0" align="center" cellspacing="0" cellpadding="0" style="background-color: #FFFFFF;">
                    <tr>
                        <td width="10" bgcolor="#0ab190">
                            &nbsp;
                        </td>
                        <td width="580" valign="top">
                            <table width="580" valign="top" height="10" border="0" align="center" cellspacing="0" cellpadding="0" style="background-color: #0ab190;">
                                <tr>
                                    <td height="10" style="font-size:0px;">
                                        &nbsp;
                                    </td>
                                </tr>
                            </table>
                            <table width="580" valign="top" height="10" border="0" align="center" cellspacing="0" cellpadding="0" style="background-color: #ffffff;">
                                <tr>
                                    <td height="40" style="font-size:0px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <img style="font-size:0;padding:0;margin:0;" src="/Content/Img/seasons/NY/header_1.png" alt="" />
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td width="10" height="110" align="right" style="font-size: 0px; background-color: #0ab190; ">&nbsp;</td>
                    </tr>
                </table>
                <!-- END TOP TABLE -->


                <table width="670" align="center" cellspacing="0" cellpadding="0" @*style="background-color: #0bc5a0;"*@>
                    <tr>
                        <td width="10" style="font-size:0;padding:0;margin:0;" valign="bottom"></td>
                        <td width="25" style="font-size:0;padding:0;margin:0;" valign="bottom"><img src="/Content/Img/seasons/NY/bottom_left_green.png" alt="" /></td>
                        <td>
                            <table cellspacing="0" cellpadding="0" style="background-color: #0ab190;">
                                <tr>
                                    <td width="10" style="font-size:0;padding:0;margin:0;" valign="bottom"><img src="/Content/Img/seasons/NY/bottom_left_2_green.png" alt="" /></td>
                                    <td>
                                        <table width="580" cellspacing="0" cellpadding="0" style="background-color: #ffffff;">
                                            <tr>
                                                <td width="30">&nbsp;</td>
                                                <td>

                                                    <table>
                                                        <tr>
                                                            <td style="font-size:0;" height="55">&nbsp; </td>
                                                        </tr>
                                                    </table>


                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center" width="340" valign="top">
                                                                <h1 style="color:#ff6c5a;font-size:20px;font-family:Calibri;margin:20px 0 20px 0;">
                                                                    ПОЛНАЯ ИНФРАСТРУКТУРА
                                                                </h1>
                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:20px;margin:10px 0 15px 0;">
                                                                    Домен, хостинг, сайт с наполнением, настроеный Яндекс.Директ, поддержка. Все работы под ключ.
                                                                </p>

                                                                <s style="color:#000000;font-size:16px;font-family:Calibri;margin:2px 0 0 0;">5000 руб.</s>
                                                                <strong style="color: #000000; font-size:20px; font-family:Calibri; margin:2px 0 0 0;">3500 руб.</strong>

                                                                <table>
                                                                    <tr><td style="font-size:0;" height="10">&nbsp; </td></tr>
                                                                </table>

                                                                <a href="#"><img style="border:0;" src="/Content/Img/seasons/NY/button_1.png" alt="" class="send_order_NY"/></a>

                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:20px;margin:10px 0 15px 0;">
                                                                    <i>* вы перейдете в форму<br/> обратной связи</i>
                                                                </p>
                                                            </td>
                                                            <td width="20">
                                                                &nbsp;
                                                            </td>
                                                            <td width="250" valign="top">
                                                                <img src="/Content/Img/seasons/NY/image_1.png" alt="" />
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <table>
                                                        <tr>
                                                            <td style="font-size:0;" height="30">&nbsp; </td>
                                                        </tr>
                                                    </table>

                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="center">
                                                                <h1 style="color: #0bc5a0; font-size: 22px; font-family: Calibri; font-weight: normal; margin-bottom: 0;">ПРОДАЖИ В ИНТЕРНЕТЕ</h1>
                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:20px;margin:0 0 15px 0;text-align:center;">
                                                                    ...продажи многих товаров имеют сезонность, когда спрос на них особенно высок - ёлки на Новый год, цветы на 8-е марта, шарфы любимой команды в финале, спинеры "на волне хайпа"...
                                                                </p>
                                                                @*<p style="color:#808080;font-family:Calibri;font-size:14px;line-height:20px;margin:0 0 15px 0;text-align:center;">
                                                                    Сезон делает кассу всего года, но быстро проходит - нужно действовать быстро. Закажите готовый магазин и сразу начинайте работу
                                                                </p>*@
                                                            </td>
                                                        </tr>
                                                    </table>

                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td align="left" width="350" valign="top">
                                                                <h1 style="color:#ff6c5a;font-size:16px;font-family:Calibri;margin:0px;">
                                                                    КАК ВЫГЛЯДЯТ САЙТЫ
                                                                </h1>
                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:20px;margin:10px 0 20px 0;">
                                                                    Сайт может быть изготовлен из шаблона или быть копией любого сайта в Интернете, но с вашими реквизитами
                                                                </p>

                                                                <a href="//petroelki.ru/" target="_blank"><img style="border:0;" src="/Content/Img/seasons/NY/button_2.png" alt="" /></a>
                                                                <a href="//elkamagazine.ru/" target="_blank"><img style="border:0;" src="/Content/Img/seasons/NY/button_2.png" alt="" /></a>
                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:20px;margin:10px 0 20px 0;">
                                                                    <i>* примеры по запросу "купить елку" на портале Яндекс</i>
                                                                </p>
                                                            </td>
                                                            <td align="left" width="20" valign="top">
                                                                &nbsp;
                                                            </td>
                                                            <td align="left" width="150" valign="top">
                                                                <h1 style="color:#ff6c5a;font-size:16px;font-family:Calibri;margin:0px;">
                                                                    Шаблоны
                                                                </h1>
                                                                <table align="left" border="0" cellspacing="0" cellpadding="0">
                                                                    <tr>
                                                                        <td><img src="/Content/Img/seasons/NY/image_18.png" alt="" /></td>
                                                                        <td width="10" style="font-size:0;">&nbsp;</td>
                                                                        <td style="color:#808080;font-size:14px;font-family:Calibri;" valign="bottom">
                                                                            <a style="color: #0bc5a0;" href="http://lifetune.net/theme/20121213_auspicious/" target="_blank">
                                                                                Auspicious Christmas
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10" style="font-size:0;">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img src="/Content/Img/seasons/NY/image_18.png" alt="" /></td>
                                                                        <td width="10" style="font-size:0;">&nbsp;</td>
                                                                        <td style="color:#808080;font-size:14px;font-family:Calibri;" valign="bottom">
                                                                            <a style="color: #0bc5a0;" href="http://nexplore.org/LivePreview/Festivemail2/preview.htm" target="_blank">
                                                                                Festive Responsive
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10" style="font-size:0;">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img src="/Content/Img/seasons/NY/image_18.png" alt="" /></td>
                                                                        <td width="10" style="font-size:0;">&nbsp;</td>
                                                                        <td style="color:#808080;font-size:14px;font-family:Calibri;" valign="bottom">
                                                                            <a style="color: #0bc5a0;" href="http://christmas.themeebit.com/" target="_blank">
                                                                                Christmas ThemeeBiT
                                                                            </a>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="10" style="font-size:0;">&nbsp;</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><img src="/Content/Img/seasons/NY/image_18.png" alt="" /></td>
                                                                        <td width="10" style="font-size:0;">&nbsp;</td>
                                                                        <td style="color:#808080;font-size:14px;font-family:Calibri;" valign="bottom">
                                                                            и еще более 150 вариантов...
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>


                                                        <table>
                                                            <tr>
                                                                <td style="font-size:0;" height="55">&nbsp; </td>
                                                            </tr>
                                                        </table>

                                                        <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>

                                                                <td width="250">
                                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td><img src="/Content/Img/seasons/NY/image_5.png" alt="" /></td>
                                                                            <td width="10">&nbsp;</td>
                                                                            <td align="left" valign="top">
                                                                                <p style="color:#000000;font-family:Calibri;font-size:22px;line-height:22px;padding:0;margin:5px 0 10px 0;font-family:Calibri;font-weight:bold;">
                                                                                    ЁЛКИ
                                                                                </p>
                                                                                <p style="color:#ff6c5a;font-family:Calibri;font-size:16px;line-height:22px;padding:0;margin:0 0 5px 0;font-family:Calibri;font-weight:bold;">
                                                                                    Живые и искусственные...
                                                                                </p>
                                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:22px;padding:0;margin:0 0 10px 0;font-family:Calibri;">
                                                                                    украшения из хвои, крестовины
                                                                                </p>
                                                                                <a href="#"><img style="border:0;" src="/Content/Img/seasons/NY/button_3.png" class="send_order_NY" alt="" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="20">&nbsp;</td>
                                                                <td width="250">
                                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td><img src="/Content/Img/seasons/NY/image_3.png" alt="" /></td>
                                                                            <td width="10">&nbsp;</td>
                                                                            <td align="left" valign="top">
                                                                                <p style="color:#000000;font-family:Calibri;font-size:22px;line-height:22px;padding:0;margin:5px 0 10px 0;font-family:Calibri;font-weight:bold;">
                                                                                    ПРОДУКТЫ
                                                                                </p>
                                                                                <p style="color:#ff6c5a;font-family:Calibri;font-size:16px;line-height:22px;padding:0;margin:0 0 5px 0;font-family:Calibri;font-weight:bold;">
                                                                                    Сладости, шампанское...
                                                                                </p>
                                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:22px;padding:0;margin:0 0 10px 0;font-family:Calibri;">
                                                                                    посуда, салфетки
                                                                                </p>
                                                                                <a href="#"><img style="border:0;" src="/Content/Img/seasons/NY/button_3.png" class="send_order_NY" alt="" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table>
                                                            <tr>
                                                                <td style="font-size:0;" height="45">&nbsp; </td>
                                                            </tr>
                                                        </table>

                                                        <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td width="250">
                                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td><img src="/Content/Img/seasons/NY/image_4.png" alt="" /></td>
                                                                            <td width="10">&nbsp;</td>
                                                                            <td align="left" valign="top">
                                                                                <p style="color:#000000;font-family:Calibri;font-size:22px;line-height:22px;padding:0;margin:5px 0 10px 0;font-family:Calibri;font-weight:bold;">
                                                                                    ИГРУШКИ
                                                                                </p>
                                                                                <p style="color:#ff6c5a;font-family:Calibri;font-size:16px;line-height:22px;padding:0;margin:0 0 5px 0;font-family:Calibri;font-weight:bold;">
                                                                                    Ёлочные игрушки и подарки...
                                                                                </p>
                                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:22px;padding:0;margin:0 0 10px 0;font-family:Calibri;">
                                                                                    подарочная упаковка, свечи
                                                                                </p>
                                                                                <a href="#"><img style="border:0;" src="/Content/Img/seasons/NY/button_3.png" class="send_order_NY" alt="" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                                <td width="20">&nbsp;</td>
                                                                <td width="250">
                                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td><img src="/Content/Img/seasons/NY/image_2.png" alt="" /></td>
                                                                            <td width="10">&nbsp;</td>
                                                                            <td align="left" valign="top">
                                                                                <p style="color:#000000;font-family:Calibri;font-size:22px;line-height:22px;padding:0;margin:5px 0 10px 0;font-family:Calibri;font-weight:bold;">
                                                                                    ЕЩЁ ИДЕИ?
                                                                                </p>
                                                                                <p style="color:#ff6c5a;font-family:Calibri;font-size:16px;line-height:22px;padding:0;margin:0 0 5px 0;font-family:Calibri;font-weight:bold;">
                                                                                    любой ваш товар...
                                                                                </p>
                                                                                <p style="color:#808080;font-family:Calibri;font-size:14px;line-height:22px;padding:0;margin:0 0 10px 0;font-family:Calibri;">
                                                                                    мероприятия, распродажи
                                                                                </p>
                                                                                <a href="#"><img style="border:0;" src="/Content/Img/seasons/NY/button_3.png" class="send_order_NY" alt="" /></a>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>

                                                        <table>
                                                            <tr>
                                                                <td style="font-size:0;" height="55">&nbsp; </td>
                                                            </tr>
                                                        </table>

                                                        <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td>
                                                                    <table align="center" border="0" cellspacing="0" cellpadding="0">
                                                                        <tr>
                                                                            <td valign="center" style="text-align:center;">
                                                                                <span style="color:#808080;font-size:16px;padding:0;margin:2px 0 10px 0;font-family:Calibri;font-weight:normal;text-decoration:none;">
                                                                                    Не обязательно ждать сезона, чтобы создать сайт, закажите магазин к 8 марта или 9 мая заранее...
                                                                                </span>
                                                                            </td>
                                                                        </tr>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </table>
                                                </td>
                                                <td width="30">&nbsp;</td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="10" style="font-size:0;padding:0;margin:0;" valign="bottom"><img src="/Content/Img/seasons/NY/bottom_right_2_green.png" alt="" /></td>
                                </tr>
                            </table>
                        </td>
                        <td width="25" style="font-size:0;padding:0;margin:0;" valign="bottom"><img src="/Content/Img/seasons/NY/bottom_right_green.png" alt="" /></td>
                        <td width="10" style="font-size:0;padding:0;margin:0;" valign="bottom"></td>
                    </tr>
                    <tr>
                        <td colspan="5" style="font-size:0;padding:0;margin:0;"><img style="padding:0;margin:0;" src="/Content/Img/seasons/NY/bottom_green.png" alt="" /></td>
                    </tr>
                </table>

                <!-- START FOOTER TABLE -->
                <table align="center" width="650">
                    <tr>
                        <td height="10">&nbsp;</td>
                    </tr>
                    <tr>
                        <!-- START FOOTER TEXT -->
                        <td align="center" style="color:#FFFFFF;text-decoration:none;font-family:Calibri;font-size:14px;font-weight:normal;line-height:22px;">
                            Создание аналогов и копий сайтов - ReadyMade | miketti.com<br />
                            Shut up and take my money... ©
                        </td>
                        <!-- END FOOTER TEXT -->
                    </tr>
                    <tr>
                        <td height="10">&nbsp;</td>
                    </tr>
                </table>
                <!-- END FOOTER TABLE -->
            </td>
        </tr>
    </table>
    <!-- END BACKGROUND TABLE -->
</div>