<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Компания ЭЛИТА</title>
<style type="text/css">
body { margin: 0; padding: 0; font: normal 12px Arial, Helvetica, sans-serif; background: #3861a3; border-collapse: separate !important; line-height: 12px; font-size: 12px; }
img { border: 0; border-collapse: separate; }
a { text-decoration: underline; outline: none; color: #2883C4; border-collapse: separate; display: inline-block; }
td { vertical-align: top; border-collapse: separate; }
.MsoNormal { padding: 0; font-size: 0px; border-collapse: separate; }
.title1 { color: #2883C4 !important; font-size: 23px; padding: 0; margin: 20px 15px 20px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 22px; }
.title2 { color: #e44444 !important; font-size: 15px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 20px; }
.title5 { color: #e44444 !important; font-size: 18px; padding: 0; margin: 25px 15px 10px 15px; font-weight: normal; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 20px; }
.title3 { color: #333 !important; font-size: 13px; padding: 0; margin: 15px 15px 5px 15px; font-weight: bold; font-family: Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 20px; }
.title4 { color: #2883C4 !important; font-size: 20px; padding: 0; margin: 20px 15px 10px 15px; font-weight: normal; font-family: Tahoma, Arial, Helvetica, sans-serif; border-collapse: separate; line-height: 20px; }
.paragraph { margin: 10px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 12px; color: #000000; line-height: 20px; border-collapse: separate; font-weight: normal; }
.paragraph3 { margin: 5px 3px 5px 3px; padding: 0px 0px 0px 0px; font-size: 12px; color: #000000; line-height: 20px; border-collapse: separate; font-weight: normal; }
.paragraph2 { margin: 0px 15px 10px 15px; padding: 0px 0px 0px 0px; font-size: 12px; color: #000000; line-height: 20px; border-collapse: separate; }
.paragraph1 { margin: 5px 0px 5px 15px; padding: 0px 0px 0px 0px; font-size: 12px; color: #000000; line-height: 18px; border-collapse: separate; }
.paragraphFooter1 { margin: 5px 15px 15px 15px; padding: 0px 0px 0px 0px; text-align: right; font-size: 11px; font-weight: bold; color: #000000; font-size: 12px; line-height: 20px; border-collapse: separate; }
.paragraphFooter2 { margin: 5px 15px 15px 15px; padding: 0px 0px 0px 0px; text-align: center; font-size: 11px; font-weight: bold; color: #444444; font-size: 12px; line-height: 20px; border-collapse: separate; }
.hr { margin: 10px 15px 0px 15px; }
.wrap { background: #ffffff; margin: 0px 0px 0px 0px; text-align: left; border-collapse: separate; }
.wrapy4 { border-bottom: 1px solid #ccc; }
em { color: #e13d3d; }
</style>
</head>
<body>
<table width="720" border="0" cellpadding="0" cellspacing="0" bgcolor="#3861a3" style="background: #3861a3;">
    <tr>
        <td style="font-size: 0%; vertical-align: top; background: #3a5ba8;" bgcolor="#3a5ba8" width="60"><img src="left.jpg" alt="ReadyMade" width="70" height="360" align="top" /></td>
        <td valign="top" width="580" style="border-collapse: separate;" class="wrap" bgcolor="#ffffff"><a href="http://www.miketti.com/"><img src="header.jpg" width="580" height="170" alt="ReadyMade" align="top" /></a>
        <table width="100%" border="0" cellpadding="0" cellspacing="0" bgcolor="#f5f5f5" style="background: #f5f5f5;">
            <tr>
                <td style="font-size: 0%; vertical-align: top;">
                    <p class="paragraph" align="left"><strong>Miketti.com - создание аналогов и копий сайтов</strong></з>
                </td>
            </tr>
         </table>
        <h1 class="title1" align="left">Здравствуйте!</h1>
        <p class="paragraph" align="left">Ваше сообщение, отправленное с сайта <a href="http://www.miketti.com"><strong>www.miketti.com</strong></a> зарегистрировано</p>
<p class="paragraph" align="left"><em>[%текст%]</em></p>
        <p class="paragraph" align="left">В ближайшее время для вас будет составлен и отправлен ответ</p>
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td style="font-size: 0%; vertical-align: top;">
                    <h1 class="title2" align="left">Подготовьте, пожалуйста, следующую информацию:</h1>
                    <p class="paragraph" align="left"><strong> &nbsp;1. &nbsp;</strong> Ссылки на сайты-образцы.<br />
                        <strong> &nbsp;2. &nbsp;</strong> <strong>Ваш бюджет на разработку.</strong><br />
                        <strong> &nbsp;3. &nbsp;</strong> Требуемые сроки выполнения. <br />
                        <strong> &nbsp;4. &nbsp;</strong> Техническое задание (при наличии).<br />
                </td>

	</tr> 
	<tr>
		<td style="font-size: 0%; vertical-align: top;">
                    <h1 class="title2" align="left">Порядок взаимодействия при создании сайта:</h1>
                    <p class="paragraph" align="left"><strong> &nbsp;1. &nbsp;</strong> Создание статических страниц (или главной страницы для одностраничника).<br />
                        <strong> &nbsp;2. &nbsp;</strong> Внесение аванса для исключения недобросовестных заказчиков (при работе с большими и средними заказами). <br />
                        <strong> &nbsp;3. &nbsp;</strong> Разработка и, при необходимости, корректировка результата в несколько итераций. <br />
                        <strong> &nbsp;4. &nbsp;</strong> Расчёт.<br />
			<strong> &nbsp;5. &nbsp;</strong> Опционально - поддержка на абонементой основе.<br />
                </td> 
              <td width="40%" align="right" style="font-size: 0%; vertical-align: middle; text-align: right;"><a href="http://www.miketti.com/"><img src="banner2.jpg" width="183" height="300" alt="Elita" align="top" /></a></td>
            </tr>

         </table>
        

        <p class="paragraph" align="center"><strong>Внимание!</strong> Сервис хранит историю ваших обращений.</p>
        <p class="paragraph" align="center">Ваши данные не будут использоваться для несанционированных рассылок любого рода. <br/></p>
<p></p>
        <hr />
          <p class="paragraph" align="right">С уважением, ReadyMade <br />
            <a href="http://www.miketti.com/">www.miketti.com</a><br />
            <a href="mailto:info@miketti.com">info@miketti.com</a>
          </p></td>
        <td style="font-size: 0%; vertical-align: top;" width="60"><img src="right.jpg" width="70" height="360" alt="ReadyMade" align="top" /></td>
    </tr>
</table>
</body>
</html>